@import "./base.css";
@import "./normalizer.css";
:root {
  --color-primary: #fff;
  --color-secondary: #42b883;
  --color-tertiary: #0000ff;
  --color-quaternary: #000;
}
#app {
  max-width: 800px;
  margin: 0 auto;
  font-weight: normal;
}
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-quaternary);
  background-color: whitesmoke;
}
