@import "./base.css";

:root {
  --color-primary: #fff;
  --color-secondary: #42b883;
  --color-tertiary: #0000ff;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-primary);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    80deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
